.cc-modal{
    align-items: center;
    background: #E6EFFB;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    position: absolute;
    top: 40%;
    left: 40%;
    border-radius: 2rem;
    height: 20rem;
    width: 30rem;
}

.cc-add-trip__txt{
    font-size: 2rem;
    color: $brand-primary;
    margin: $space;
}

