.cc-modal{
    align-items: center;
    background: #d3d3d3;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 2rem;
    min-height: 10rem;
    min-width: 20rem;
}

