* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    //convert default 16 px to 10px
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: $base-font-size;
}

h1{
    color: $brand-primary;
    font-weight: 600;
    margin: $space;
    text-align: center;
    text-transform: uppercase;
}

a{
    color: black;
}

input[type=text], input[type=email], input[type=password]{
    display: table;
    border: 1px solid #dddddd;
    font-size: $base-font-size;
    margin-bottom: $input-space;
    margin-left: 3rem;
    padding: 1rem;
}
